.camera {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.canvas-img {
    position: fixed;
    top: -1;
    left: -1;
}
 
.taked {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-width: 20%;
    width: auto;
    height: auto;
    border: solid 3px #333;
}